.App {
  text-align: center;
  justify-content: space-around;
  display: flex;
}

body {
  background-image: url("./attributes/background.webp");
  justify-content: center;
  display: flex;
}

.app-login {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  color: rgb(230, 217, 217);
  font-size: larger;
}

.warning {
  color: antiquewhite;
  background-color: rgb(168, 90, 90);
  padding: 10px 10px;
  margin-top: 5px;
}

.error {
  color: antiquewhite;
  background-color: rgb(226, 34, 34);
  padding: 10px 10px;
  margin-top: 5px;
}
.app-search {
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10%;
}

.search {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #281f2a;
  color: white;
  width: 50%;
}

.biodata {
  color: wheat;
  background-color: #554957;
  text-align: center;
  padding: 15px 15px;
  margin: 10px 10px;
}
